<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/524e5125-dbbd-4c97-9445-c0869e65b3e2/resourceGroups/PersonalDevelopment-ResourceGroup/providers/Microsoft.Web/sites/kevincstaging</ResourceId>
    <ResourceGroup>PersonalDevelopment-ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://kevincstaging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://kevincstaging.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>1c84866d-77fb-4658-9255-2faf8472ea6e</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sg1-041.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kevincstaging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kevincstaging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>